name: Publish

on:
  release:
    types:
      - published

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 17

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Language Reload
          path: build/libs

      - name: Publish
        uses: Kir-Antipov/mc-publish@v3.1
        with:
          name: ""
          dependencies: |
            fabric-api | depends | *
            modmenu | suggests | *
          version-resolver: latest

          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-files-primary: build/libs/!(*-@(dev|sources|javadoc)).jar
          github-files-secondary: build/libs/*-@(dev|sources|javadoc).jar

          modrinth-id: uLbm7CG6
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          curseforge-id: 527334
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
